!!!
%html{:lang => "en-us", "ng-app" => "app"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "UTF-8"}
    %title Standard File | End-to-end encryption for web, mobile, and desktop applications.
    %meta{:content => "Standard File - your data home forever.", :name => "apple-mobile-web-app-title"}
    %meta{:content => "Standard File - your data home forever.", :name => "application-name"}
    %base{:href => "/"}
    %meta{:content => "Standard File is one account for every human. This account can store almost any data type, and supports strong encryption and privacy by default.", :name => "description"}
    %meta{:content => "Standard File - your data home forever.", :name => "twitter:title"}
    %meta{:content => "Standard File is one account for every human. This account can store almost any data type, and supports strong encryption and privacy by default.", :name => "twitter:description"}
    %meta{:content => "@standardnotes", :name => "twitter:site"}
    %meta{:content => "summary", :name => "twitter:card"}
    %meta{:content => "Standard File - your data home forever.", :name => "og:title"}
    %meta{:content => "Standard File is one account for every human. This account can store almost any data type, and supports strong encryption and privacy by default.", :name => "og:description"}

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "vendor/stylesheets/main.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "https://code.angularjs.org/1.5.8/angular.js"}
    %script{:src => "javascripts/app.js"}
    %script{:src => "javascripts/gumshoe.min.js"}

  %body{"ng-controller" => "AppCtrl"}
    %section.main-content
      %ul.menu{"data-gumshoe" => ""}
        %li
          %a{"href" => "#intro"} Intro
        %li
          %a{"href" => "#developers"} Developers
        %li
          %a{"href" => "#models"} Models
          %ul.no-bullets.nested
            %li
              %a{"href" => "#user"} User
            %li
              %a{"href" => "#items"} Items
        %li
          %a{"href" => "#api"} REST API
          %ul.no-bullets.nested
            %li
              %a{"href" => "#api-auth"} Auth
            %li
              %a{"href" => "#api-items"} Items
        %li
          %a{"href" => "#import-export"} Import/Export
        %li
          %a{"href" => "#encryption"} Encryption
          %ul.no-bullets.nested
            %li
              %a{"href" => "#key-generation"} Key Generation
            %li
              %a{"href" => "#item-encryption"} Item Encryption

      .header
        .project-name Standard File
        .project-tagline End-to-end encryption for web, mobile, and desktop applications.

        .social
          %a.icon-twitter{"href" => "https://twitter.com/standardnotes", "target" => "_blank"}
          %a.icon-github{"href" => "https://github.com/standardfile", "target" => "_blank"}
          %a.icon-reddit{"href" => "https://www.reddit.com/r/StandardNotes/", "target" => "_blank"}

      %ng-include{"src" => "'doc/html/doc/spec.html'"}
